.btn {
  font-family: "Noto Sans JP";
  padding: 0.5em 1em;
  font-weight: 500;
  border-radius: 6px;
  font-size: 1rem;
  cursor: pointer;
  border: none;
  background-color: unset;
  transition: background-color 0.2s ease-in-out;
}

.btn:focus {
  outline: none;
}

.default {
  color: var(--black);
  background-color: var(--light-gray);
  box-shadow: 0px 2px 3px rgba(51, 51, 51, 0.2);
}

.default:hover,
.default.hover,
.default.focus,
.default:focus {
  background-color: var(--dark-gray);
}

.outline {
  border: 1px solid var(--blue);
  color: var(--blue);
}

.outline:hover,
.outline.hover,
.outline.focus,
.outline:focus {
  background-color: var(--alpha-blue);
}

.text {
  color: var(--blue);
}

.text:hover,
.text.hover,
.text.focus,
.text:focus {
  background-color: var(--alpha-blue);
}
