.btn {
  font-family: "Noto Sans JP";
  font-weight: 500;
  border-radius: 6px;
  cursor: pointer;
  border: none;
  background-color: unset;
  color: var(--black);
  background-color: var(--light-gray);
  transition: background-color 0.2s ease-in-out;
  box-shadow: 0px 2px 3px rgba(51, 51, 51, 0.2);
}

/* Variants Start*/

.btn:focus {
  outline: none;
}

.btn:disabled {
  cursor: not-allowed;
  color: var(--disabled-color);
}

.btn:disabled:hover {
  background-color: var(--light-gray);
}

.btn:hover,
.btn.hover,
.btn.focus,
.btn:focus {
  background-color: var(--dark-gray);
}

.variant-outline {
  border: 1px solid var(--blue);
  color: var(--blue);
}

.variant-outline:hover,
.variant-outline.hover,
.variant-outline.focus,
.variant-outline:focus {
  background-color: var(--alpha-blue);
}

.variant-text {
  color: var(--blue);
}

.variant-outline,
.variant-text {
  background-color: unset;
  box-shadow: none;
}

.variant-text:hover,
.variant-text.hover,
.variant-text.focus,
.variant-text:focus {
  background-color: var(--alpha-blue);
}

.variant-text:disabled:hover {
  background-color: unset;
}

.no-box-shadow {
  box-shadow: none;
}

/* Variants End */

/* Sizes Start */
.btn,
.size-md {
  font-size: 1rem;
  padding: 0.5em 1em;
}

.size-sm {
  padding: 0.375em 0.75em;
}

.size-lg {
  padding: 0.6875em 1.375em;
}

/* Sizes End */

/* Colors Start */

.color-default {
  color: var(--black);
  background-color: var(--light-gray);
}

.color-primary {
  color: var(--white);
  background-color: var(--button-primary-color);
  box-shadow: var(--button-primary-box-shadow);
}

.color-primary:hover,
.color-primary:focus,
.color-primary.hover,
.color-primary.focus {
  background-color: var(--button-primary-hover-color);
}

.color-secondary {
  color: var(--white);
  background-color: var(--button-secondary-color);
  box-shadow: var(--button-secondary-box-shadow);
}

.color-secondary:hover,
.color-secondary:focus,
.color-secondary.hover,
.color-secondary.focus {
  background-color: var(--button-secondary-hover-color);
}

.color-danger {
  color: var(--white);
  background-color: var(--button-danger-color);
  box-shadow: var(--button-danger-box-shadow);
}

.color-danger:hover,
.color-danger:focus,
.color-danger.hover,
.color-danger.focus {
  background-color: var(--button-danger-hover-color);
}
/* Colors End */
