.container {
  height: 100%;
  margin-inline: auto;
  max-width: 45%;
}

h1 {
  font-family: "Poppins";
  margin-block: 1em;
}

.button-type-container {
  display: grid;
  grid-template-columns: repeat(2, auto);
  justify-content: space-between;
}

.button-type-container {
  margin-bottom: 2em;
}

.button-type > pre {
  margin-bottom: 1em;
}
