.container {
  height: 100%;
  margin-inline: auto;
  max-width: 300px;
}

.button-type-container {
  display: grid;
  grid-template-columns: repeat(2, auto);
  justify-content: space-between;
}

.button-type {
  text-align: center;
}

.button-type > button {
  width: fit-content;
}
