.container {
  height: 100%;
  margin-inline: auto;
  max-width: 90%;
  padding-bottom: 2em;
}

h1 {
  font-family: "Poppins";
  padding-block: 1em;
}

.button-type-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 2em;
}

.button-type-container {
  margin-bottom: 2em;
}

.button-type > pre {
  margin-bottom: 1em;
}
